@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
}

.lds-dual-ring {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 14px;
  height: 14px;
  margin: 3px;
  border-radius: 50%;
  border: 5px solid #ff9800;
  border-color: #ff9800 transparent #ff9800 transparent;
  -webkit-animation: lds-dual-ring 1.2s linear infinite;
          animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.slide-leave-active,
.slide-enter-active {
  -webkit-transition: .5s;
  transition: .5s;
}

.slide-enter {
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.slide-leave-to {
  -webkit-transform: translate(0, 200%);
          transform: translate(0, 200%);
}

.h1 {
  font-size: 28px;
  font-weight: 800;
}

.h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

#app {
  width: 100%;
  -webkit-transition: 0.4s width;
  transition: 0.4s width;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 999;
  background: #fff;
}

.check-list-page__container {
  padding: 0 40px;
  min-width: 1200px;
  padding-bottom: 50px;
}

.check-list-page__wrapper {
  max-width: 80%;
  min-width: 800px;
  padding: 0 20px;
  margin: auto;
}

.check-list-page__close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  cursor: pointer;
}

.check-list-page__close:hover {
  opacity: 1;
}

.check-list-page__close:before, .check-list-page__close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #3c7af3;
}

.check-list-page__close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.check-list-page__close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.check-list-page__title {
  padding: 20px 0;
}

.check-list-page__sale-comment {
  margin-top: 50px;
  padding: 20px 50px;
  margin: auto;
  background: #1a8ad8;
  border-radius: 15px;
}

.check-list-page__sale-title {
  color: #fff;
}

.check-list-page__sale-text {
  color: #fff;
  font-size: 18px;
}

.checklist__title {
  font-size: 18px;
}

.checklist__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.checklist__block {
  width: calc(33% - 10px);
  margin: 5px;
  padding: 30px;
  background: #E6F4F1;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-transition: 0.2s -webkit-box-shadow;
  transition: 0.2s -webkit-box-shadow;
  transition: 0.2s box-shadow;
  transition: 0.2s box-shadow, 0.2s -webkit-box-shadow;
}

.checklist__block:hover {
  -webkit-box-shadow: 0 0 15px #c1c0c0;
          box-shadow: 0 0 15px #c1c0c0;
}

.checklist__checkbox {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border: 2px solid #3a3a3a;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
}

.checklist__lvl2 {
  position: relative;
  padding: 10px 0 0 35px;
}

.checklist__item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checklist__item.done {
  color: green;
}

.checklist__item.done .checklist__checkbox {
  border-color: green;
}

.checklist__item.done .checklist__checkbox::after {
  content: '';
  display: block;
  border-bottom: 2px solid green;
  border-right: 2px solid green;
  width: 10px;
  height: 15px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  position: absolute;
  top: 3px;
  left: 8px;
}

.checklist__item.inProgress {
  color: #ff9800;
}

.checklist__item.inProgress .checklist__checkbox {
  border-color: #ff9800;
}

.checklist__done-count {
  position: absolute;
  right: 30px;
  top: 20px;
}

.project-status {
  width: 100%;
  height: 30px;
  background: #b1cbff;
  position: relative;
}

.project-status__progress {
  height: 100%;
  background: #3c7af3;
  width: 0;
}

.project-status__text {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  z-index: 9999;
  position: absolute;
  line-height: 30px;
  top: 0;
}

.project-status__button {
  background: #2f68bad6;
  color: #fff;
  outline: none;
  border: none;
  padding: 2px 4px 4px 4px;
  cursor: pointer;
  border-radius: 4px;
}
/*# sourceMappingURL=style.css.map */